
	body {background-color: powderblue;}
	h1 {color: limegreen;}
	h2 {color: orange;}
	p {color: red;}
	i, b {color: yellow;}
	#submitButton {display: none;}
	#input {box-shadow: 0 0 5px 1px white;}
	#input.green {box-shadow: 0 0 10px 1px green;}
	#input.red {box-shadow: 0 0 10px 1px red;}	

