	@media (prefers-color-scheme: dark)
	{
		
	body
	{
	background-color: rgb(37, 37, 37);
	}
	.insideContainer
	{
	display: flex;
	justify-content: center;
    align-items: center;
	gap: 15px;
	color: white;
	font-family: sans-serif;
	}
	
	.outsideContainer
	{
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	min-height:70vh;
	gap: 15px;
	font-size: 25px;
	line-height:25px;
	font-weight:bold;
	font-family: sans-serif;
	}
	
	
	h1 
	{
	color: white;
	font-weight:bold;
	}
	
	#displayWordBank 
	{
	background-color: rgb(44, 46, 49);
	max-width: 780px;
	border-radius:5px;
	font-family: sans-serif;
	}
	
	.square
	{
	height: 100px;
	width: 110px;
	display: flex;
	justify-content: center;
    align-items: center;
	border-radius:15px;
	}
	
	input[type = "text"]
	{
	box-shadow: 0 0 5px 2px white;
	background-color: rgb(44, 46, 49);
	width: 600px;
	color:white;
	}
	
	#timerOptions,#difficultyOptions
	{
	color: white; 
	font-size: 14px;
	height:35px;	
	}
	
	#squareOptions
	{
	display:flex;
	align-items: center;
	justify-content: between;
	gap: 100px;
	background-color: rgb(44, 46, 49); 	
	width: 800px;
	border-radius:15px;
	}	
	
	p
	{
	margin: 3px;
	}

	}
	
	@media (prefers-color-scheme: light)
	{
	body
	{
	background-color: rgb(245, 245, 247);
	}
	.insideContainer
	{
	display: flex;
	justify-content: center;
    align-items: center;
	gap: 15px;
	color: black;
	font-family: sans-serif;
	}
	
	.outsideContainer
	{
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	min-height:70vh;
	gap: 15px;
	font-size: 25px;
	font-weight:bold;
	line-height:25px;
	font-family: sans-serif;
	}
	
	h1 
	{
	color: black;
	font-weight:bold;
	}
	
	#displayWordBank 
	{
	background-color: white;
	max-width: 780px;
	font-family: sans-serif;
	border-radius:5px;
	}
	
	.square
	{
	height: 100px;
	width: 110px;
	display: flex;
	justify-content: center;
    align-items: center;
	background-color:white;
	border-radius:15px;
	}
	
	input[type = "text"]
	{
	box-shadow: 0 0 5px 2px white;
	background-color: white;
	width: 600px;
	color:black;
	}
	
	#timerOptions,#difficultyOptions
	{
	color: black; 
	font-size: 14px;
	height:35px;
	}
	
	#squareOptions
	{
	display:flex;
	align-items: center;
	justify-content: between;
	gap: 100px;
	background-color:white;	
	width: 800px;
	border-radius:15px;
	}	
	
	p
	{
	margin: 3px;
	}
	}	